<body>
<div class="container py-5">
    <header class="text-center mb-5">
      <h1>Welcome to GameNight!</h1>
      <p class="fs-4">Discover & play board games with fellow enthusiasts around you!</p>
      <% unless user_signed_in? %>
        <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-lg me-2">Sign Up</a>
        <a href="<%= new_user_session_path %>" class="btn btn-outline-secondary btn-lg">Login</a>
      <% else %>
        <%= link_to events_path, class: "btn btn-success btn-lg" do %>
          <i class="fas fa-dice"></i> Discover Events
        <%end %>
      <% end %>
    </header>
    <br>
    <div class="text-center mb-5">
      <h2>How GameNight Works</h2>
      <div class="row mt-4">
        <div class="col-md-4">
          <i class="fa-solid fa-calendar-days fa-3x"></i>
          <h3 class="mt-2">Find an Event</h3>
          <p>Browse through upcoming game nights near your location.</p>
        </div>
        <div class="col-md-4">
          <i class="fa-solid fa-users fa-3x"></i>
          <h3 class="mt-2">Join the Fun</h3>
          <p>Sign up for an event you like and meet new people.</p>
        </div>
        <div class="col-md-4">
          <i class="fa-solid fa-plus fa-3x"></i>
          <h3 class="mt-2">Host Your Own</h3>
          <p>Can't find an event that suits you? Host your own and invite others to join.</p>
        </div>
      </div>
    </div>
        <div class="text-center mb-5">
      <h2>See GameNight in Action</h2>
      <div class="row mt-4">
        <div class="col-md-4">
          <video width="100%" controls>
            <source src= "/discover.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h3 class="mt-2">Discover Events</h3>
          <p>Watch how easy it is to find and join events.</p>
        </div>
        <div class="col-md-4">
          <video width="100%" controls>
            <source src="/manage_events.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h3 class="mt-2">My Events</h3>
          <p>Learn how to manage your events effectively.</p>
        </div>
        <div class="col-md-4">
          <video width="100%" controls>
            <source src="/games.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h3 class="mt-2">Games Catalog</h3>
          <p>Explore the wide variety of games available at your fingertips.</p>
        </div>
      </div>
    </div>
  </div>
</body>
